body{
	margin: 0;
	background-color: #228B22;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
	padding-bottom: 100px;
	box-sizing: border-box;
	position: relative;
}
.alert{
	margin-top: 20px;
}
.info{
	bottom: 0;
	height: 2.5 rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
}
.row{
	margin: 20px 10px;
	text-align: center;
}
footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
main{
	margin-top: 20px;
}

.btn-space{
	margin-right: 20px;
}