{% extends 'base.html' %}

{% block title %}Dodaj wydatek{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-7 col-lg-5 login-form-2">
    
        <h3>Sukces!</h3>
        <p> Nowy wydatek został dodany.</p>
        <div class="col-sm-12 btn-group-vertical">
            <a href="/addexpense/new" class="btnSubmit text-decoration-none" role="button" aria-pressed="true">Dodaj następny</a>
            <a href="/" class="btnAbort text-decoration-none" role="button" aria-pressed="true">Wróć do menu</a>
        </div>
        
    
        </div>
    </div>

{% endblock %}
