{% extends "base.html" %}

{% block title %}Resetowanie hasła{% endblock %}

{% block footer %}
		<script src="/js/hideShowPassword.min.js"></script>
		<script src="/js/app.js"></script>
		<script>
		$(document).ready(function() {
						
						$('#formPassword').validate({
								rules: {
										password: {
											required: true,
											minlength: 6,
											validPassword: true
										}
								}
						});
						//przycisk pokazujący hasło
						$('#inputPassword').hideShowPassword({
							show: false,
							innerToggle: 'focus',
							toggle: {
								verticalAlign: 'top',
								offset: 3
							},
							states: {
							shown: {
							toggle: {
								className: 'hideShowPassword-toggle-hide',
								content: 'Ukryj',
								attr: {
								title: 'Ukryj hasło',
								}
							}
							},
							hidden: {
							toggle: {
								className: 'hideShowPassword-toggle-show',
								content: 'Pokaż',
								attr: {
								title: 'Pokaż hasło',
								}
							}
							}
						}	
						});
		});
		</script>
{% endblock %}

{% block body %}
	
	
	<div class="row justify-content-center">
		<div class="col-xs-12 col-sm-7 col-lg-5 login-form-2">
	
		<h3>Resetowanie hasła</h3>

		{% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    	{% endif %}
	
		<form method="post" id="formPassword" action="/password/reset-password">
			<div class="form-group row">
				<input type="hidden" name="token" value="{{ token }}" />
				<label for="inputPassword" class="col-sm-3  col-form-label">Nowe hasło: </label>
				<div class="col-sm-6-center"> 
                    <input type="password" id="inputPassword" name="password" placeholder="hasło" required class="form-control"/>
				</div>
				
				<div class="col-sm-12">
                    <button type="submit" class="btnSubmit">Zresetuj hasło</button>
				</div>
				
			</div>
		</form>
	
		</div>
	</div>

{% endblock %}