{% extends "base.html" %}

{% block title %} Bilans {% endblock %}

{% block head %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {'packages' : ['corechart']});
	google.charts.setOnLoadCallback(drawIncomesChart);
	google.charts.setOnLoadCallback(drawExpensesChart);

	function drawIncomesChart()
	{		
			var incomesData = '{{jsonincomes}}';
			var incomesDataObj = JSON.parse(jsonincomes);
			var data = google.visualization.arrayToDataTable(incomesDataObj,true);
			var options = {  
				  title: 'Kwoty poszczególnych kategorii przychodów',
				  width: 'auto',
				  height: 'auto',
			};  
			var chart = new google.visualization.PieChart(document.getElementById('piechartIncomes'));  
			chart.draw(data, options);
			
			$(window).smartresize(function () {
					chart.draw(data, options);
			})
	}

	function drawExpensesChart()
	{
		var data = google.visualization.getDataTable(incomesDataObj);
			data.addColumn('string','Category');
			data.addColumn('number','Amount');
			var options = {  
				  title: 'Kwoty poszczególnych kategorii wydatków',  
				   width: 'auto',
				  height: 'auto',
				 };  
			var chart = new google.visualization.PieChart(document.getElementById('piechartExpenses'));  
			chart.draw(data, options);
			
			$(window).smartresize(function () {
					chart.draw(data, options);
			});
	}
</script>

{% endblock %}

{% block body %}

    <h1> Twój bilans </h1>

    <div class="d-flex">
        <table id="incomesTable" class="table p-2 caption-top" style="background-color: #204ac8; border: 1px solid white; color:white;">
			<caption style="color: white;"> 
				<h3 class="bd-title text-center">Tabela przychodów</h3>
			</caption>
			<thead>
				<tr>
					<th style ="width: 50%">kategoria</th>
					<th style ="width: 50%">Kwota</th>																				
				</tr>
			</thead>
			{% if incomes %}
			<tbody>	
				{% for item in incomes %}
	                <tr>
		                <td>{{ item.Category }}</td>
		                <td>{{ item.Amount }}</td>  	 		   				   				  		   				   				  
                    </tr>
                {% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td class ="text-end" ><b> Razem: </b></td>
					<td> {{incomesSum|number_format(2)}} zł</td>
				</tr>
			</tfoot>
			{% else %}
			<tfoot>
				<tr>
					<td class ="text-end" ><b> Razem: </b></td>
					<td> {{incomesSum|number_format(2)}} zł</td>
				</tr>
			</tfoot>
			{% endif %}
		</table>
		<table id="expensesTable" class="table p-2 caption-top" style="background-color: #204ac8; border: 1px solid white; color:white;">
			<caption style="color: white;"> 
				<h3 class="bd-title text-center">Tabela wydatków</h3>
			</caption>
			<thead>
				<tr>
					<th style ="width: 50%">kategoria</th>
					<th style ="width: 50%">Kwota</th>																				
				</tr>
			</thead>
			{% if expenses %}
			<tbody>	
				{% for item in expenses %}
	                <tr>
		                <td>{{ item.Category }}</td>
		                <td>{{ item.Amount }}</td>  	 		   				   				  		   				   				  
                    </tr>
                {% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td class ="text-end" ><b> Razem: </b></td>
					<td> {{expensesSum|number_format(2)}} zł</td>
				</tr>
			</tfoot>
			{% else %}
			<tbody>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class ="text-end" ><b> Razem: </b></td>
					<td> {{expensesSum|number_format(2)}} zł</td>
				</tr>
			</tfoot>
			{% endif %}
		</table>
    </div>
	<div class = "d-flex flex-fill" >
				<div id="piechartIncomes" class="p-2" style ="width: 50%; height: 500px;"></div>
				<div id="piechartExpenses" class="p-2" style ="width: 50%; height: 500px;"></div>
	</div>
	<div id="div_chart"></div>

{% endblock %}