{% extends "base.html" %}

{% block title %} Profile {% endblock %}

{% block body %}
<br>
<br>
<div class="accordion col-10 col-offset-1 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 mx-auto"
    id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                Profil Użytkownika
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <b>Nazwa Użytkownika : &nbsp;</b> {{user.name}}
                            </div>
                            <div class="d-flex align-items-end">
                                <a class="btn btn-primary mx-0" href="#" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <b>Adres e-mail : &nbsp;</b> {{user.email}}
                            </div>
                            <div class="d-flex align-items-end">
                                <a class="btn btn-primary mx-0" href="#" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                Kategorie Przychodów
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <ul class="list-group">
                    {% for item in incomeCategories %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                {{ item.Category }}
                            </div>
                            <div class="d-flex align-items-end">
                                <button class="btn btn-primary">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button class="btn btn-danger">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Kategorie Wydatków
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <ul class="list-group">
                    {% set i = 1 %}
                    {% for item in expenseCategories %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                {{ item.Category }}
                            </div>
                            <div class="d-flex align-items-end">
                                <a class="btn btn-primary" href="#" data-bs-toggle="modal"
                                    data-bs-target="#ExpenseCategoryModal{{ i }}">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <button class="btn btn-danger">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                    <div class="modal fade" id="ExpenseCategoryModal{{ i }}" tabindex="-1" role="dialog"
                        aria-labelledby="ExpenseCategoryModalLabel{{ i }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header login-form-2">
                                    <h5 class="modal-title" id="ExpenseCategoryModalLabel{{ i }}" style="color: white;">
                                        Edycja kategorii
                                    </h5>
                                </div>
                                <div class="modal-body">
                                    <form method="post" id="CategoryForm" action="">
                                        <div class="form-group">
                                            <label for="categoryName" class="form-label">Nazwa kategorii: </label>
                                            <input id="categoryName" name="category" placeholder="Kategoria"
                                                value="{{ item.Category }}" required class="form-control" />
                                        </div>
                                        <div class="form-group mt-2 mb-2">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="createLimit{{ i }}">
                                            <label class="form-check-label" for="createLimit{{ i }}">
                                                Włącz limit
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="limitAmount{{ i }}" class="form-label">Ustaw miesięczny limit
                                                wydatków
                                                dla kategorii: </label>
                                            <input id="limitAmount{{ i }}" name="limitAmount" type="number" min="0"
                                                step="0.01" placeholder="Kwota" value="" class="form-control"
                                                disabled />
                                        </div>
                                        <button type="submit" class="btn btn-primary">Zapisz</button>
                                        <a class="btn btn-danger" data-bs-dismiss="modal">Anuluj</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% set i = i + 1 %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFour">
                Sposoby Płatności
            </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
                <ul class="list-group">
                    {% for item in paymentMethods %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                {{ item.Category }}
                            </div>
                            <div class="d-flex align-items-end">
                                <button class="btn btn-primary">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button class="btn btn-danger">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header login-form-2">
                <h5 class="modal-title" id="exampleModalLabel">Edycja danych użytkownika</h5>
            </div>
            <div class="modal-body" style="color: black;">
                <form method="post" id="formProfile" action="/profile/update">
                    <div class="form-group mb-2">
                        <label for="inputName" class="form-label">Nazwa Użytkownika: </label>
                        <input id="inputName" name="name" placeholder="Name" value="{{ user.name }}" required
                            class="form-control" />
                    </div>
                    <div class="form-group mb-2">
                        <label for="inputEmail" class="form-label">Adres e-mail: </label>
                        <input id="inputEmail" name="email" placeholder="Adres e-mail" value="{{ user.email }}" required
                            type="email" class="form-control" />
                    </div>
                    <div class="form-group mb-2">
                        <label for="inputPassword" class="form-label">Hasło: </label>
                        <input type="password" id="inputPassword" name="password" placeholder="Hasło"
                            aria-describedby="helpBlock" class="form-control" />
                        <span id="helpBlock" class="text-muted">Pozostaw puste aby nie zmieniać hasła</span>
                    </div>

                    <button type="submit" class="btn btn-primary">Zapisz</button>
                    <a class="btn btn-danger" data-bs-dismiss="modal">Anuluj</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>
<script>
    $(document).ready(function () {

        var userId = '{{user.id}}';

        $('#formProfile').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: "/account/validate-email",
                        data: {
                            ignore_id: function () {
                                return userId;
                            }
                        }
                    }
                },
                password: {
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                email: {
                    remote: 'Podany adres e-mail istnieje!'
                }
            }
        });
        //przycisk pokazujący hasło
        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
        });
    });
</script>
<script type="text/javascript">
    const checkbox = document.querySelectorAll('[id^="createLimit"]');
    const limitField = document.querySelectorAll('[id^="limitAmount"]');

    Array.prototype.forEach.call(checkbox, check);

    function check(element, iterator) {
        element.onclick = function () {
            if (element.checked) {
                limitField[iterator].disabled = false;
            } else {
                limitField[iterator].disabled = true;
            }
        };
    }
</script>
{% endblock %}